* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

/* webfont */
@font-face {
	font-family: 'Raster';
	src:  url('./FKRasterGrotesk-Smooth.woff2') format('woff2'),
		  url('./FKRasterGrotesk-Smooth.woff') format('woff');
}

:root {
    --100vh: 100vh;
}

body {
    background-color: black;
    color: white;
    font-family: 'Raster', monospace;
    line-height: 1.2;
}

pre {
    white-space: pre-wrap;
    /* font-family: monospace; */
}

.button {
    cursor: pointer;
    display: block;
    padding: 0.5em 1em;
    border-radius: 2em;
    background-color: white;
    color: black;
    transition: background-color 200ms ease;
}
.button:hover,
.button.active {
    background-color: #00f;
    color: black;
}

a {
    text-decoration: none;
}








.layout {
    height: var(--100vh);
    display: flex;
    flex-direction: column;
}
.layout.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.layout > .bar {
    padding: 1rem;
    gap: 2rem;
}