* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

/* webfont */
@font-face {
	font-family: 'Raster';
	src:  url('./FKRasterGrotesk-Smooth.woff2') format('woff2'),
		  url('./FKRasterGrotesk-Smooth.woff') format('woff');
}

:root {
    --100vh: 100vh;
    --background: #000;
    --color: #fff;
    --speed: 2000ms;
}

body {
    background: var(--background);
    color: var(--color);
    font-family: 'Raster', monospace;
    line-height: 1.2;
    height: var(--100vh);
    transition: background var(--speed) ease;
}

pre {
    white-space: pre-wrap;
    /* font-family: monospace; */
}

.buttons {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    height: auto;
}
button {
    cursor: pointer;
    display: block;
    background: inherit;
}
.button {
    padding: 0.5em 1em;
    border-radius: 2em;
    background-color: var(--color);
    color: var(--background);
    transition: background-color 200ms ease;
}
.button.red {
    background-color: #f00;
}
.button[disabled],
.button.subtle {
    opacity: 0.3;
}
.button.subtle:hover {
    opacity: 1;
}
.button:not([disabled]):hover,
.button:not([disabled]).active {
    background-color: #00f;
    color: var(--background);
}

a {
    text-decoration: none;
}






select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    text-align-last: center;
    background: inherit;
}
select:focus {
    outline: none;
}

.layout {
    height: var(--100vh);
    display: flex;
    flex-direction: column;
}
.layout.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.layout > .bar {
    padding: 1rem;
    gap: 2rem;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.col-1 {
    grid-column-end: span 1;
}
.col-2 {
    grid-column-end: span 2;
}
.col-3 {
    grid-column-end: span 3;
}
.col-4 {
    grid-column-end: span 4;
}
.col-6 {
    grid-column-end: span 6;
}
.col-7 {
    grid-column-end: span 7;
}
.col-8 {
    grid-column-end: span 8;
}
.row-2 {
    grid-row-end: span 2;
}